:root {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    --background: #ffffff;
    --border: #ccc;
    --grey-text: #666666;
    --off-background: rgb(250, 250, 250);
    --text: #000000;
    --border-width: .2em;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #27272a;
        --border: #ccc;
        --off-background: #36363a;
        --grey-text: #777;
        --text: #ffffff;
        --border-width: .2em;
        background-color: var(--background);
        color: white;
    }
}

main {
    width: 50vw;
}




#imageInput {
    display: none;
}

.post {
    border-top: 1px solid var(--border);
    padding: .5em 1em;
}


.post>p {
    overflow-wrap: break-word;
    text-wrap: wrap;
}

.post>p>div {
    text-align: center;
    padding-top: 1em;
}

img {
    height: 40vh;
}

.date {
    font-size: 0.8em;
    color: var(--grey-text);
    text-align: right;
    margin-top: 0px;
}

.bottomDiv {
    display: flex;
    justify-content: flex-end;
}

#hamburgerMenu {
    display: none;
    position: absolute;
    flex-direction: column;
    background-color: var(--off-background);
    border: solid var(--border);
    border-radius: 1em;
    border-width: var(--border-width);
}

#hamburgerMenu>button {
    padding: .5em;
    color: var(--text);
}

.hamburger {
    writing-mode: vertical-rl;
    text-align: left;
    margin-left: 1em;
    padding: 0;
}

/*Popup*/
#popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: color-mix(in srgb, var(--off-background) 50%, transparent);
    justify-content: center;
    align-items: center;
    z-index: 9999;
    flex-direction: column;
}

.popupContent {
    background-color: var(--off-background);
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 1em;
    border: solid var(--border);
    border-width: var(--border-width);
}

.buttons {
    position: relative;
    width: 100%;
}

#imgWrap {
    margin: .5em 0;
    display: inline-block;
    position: relative;
}

#imgWrap>img {
    display: block;
}

button {
    border: none;
    background-color: transparent;
    vertical-align: middle;
    color: var(--text);
    font-size: 1em;
}

#close {
    right: 0;
    position: absolute;
}

#popup textarea {
    width: 40vw;
    height: 45vh;
    margin-bottom: 1em;
    resize: none;
    background-color: var(--background);
    color: var(--text);
    font-family: sans-serif;
    padding: .5em;
    box-sizing: border-box;
    background-color: var(--off-background);
    border: solid var(--border);
    border-width: var(--border-width);
    border-radius: .5em;
}

#popup textarea:focus {
    outline: none;
}

#popup img {
    max-height: 40vh;
    width: fit-content;
}

#popup svg {
    vertical-align: middle;
}

.removeBtn {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: color-mix(in srgb, var(--off-background) 80%, transparent);
    border-radius: 50%;
    width: 1.5em !important;
    height: 1.5em !important;
    padding: 0;
    margin: .25em;
    font-weight: bold;
}

.removeBtn:hover {
    color: var(--text);
    background-color: var(--off-background);
}

/*Header*/
header {
    display: flex;
    align-items: center;
    justify-content: center;
    /* keeps h1 centered */
    position: relative;
    margin-bottom: 1em;
}

header h1 {
    text-align: center;
    margin: 0;
}

header button {
    position: absolute;
    right: 0;
    border: none;
    background-color: transparent;
    font-size: 3em;
    font-weight: bolder;
    align-items: center;
    justify-content: center;
    color: var(--text);
}

button:hover {
    cursor: pointer;
    color: var(--grey-text);
}

/*Mobile Adjustments*/
@media (max-width: 768px) {
    main {
        width: 100vw;
    }

    header button {
        margin-right: .5em;
    }

    #popup textarea {
        width: 80vw;
        height: 30vh;
        margin-top: 1em;
    }

    .popupContent {
        flex-direction: column-reverse;
    }
}